{% extends "fr/base.html" %}{% load static %}
<!--testing -->{% block content %} {% if data %}


  <style>
    td {
      word-break: break-all;
    }
    #search::placeholder {
      color: black;
      opacity: 0.7;
    }
  </style>

  <div class="row justify-content-center">
    <form method="GET" style="width: 75%">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        style="color: black"
        aria-label="Search"
        name="search-area"
        id="search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
  {% if messages %} {% for m in messages %}
  <div class="alert alert-{{ m.tags }}">{{ m }}</div>
  {% endfor %} {% endif %}
  <!-- </div> -->

  <div class="mid-heading">
    <div class="back">
      <!-- <a href="{% url 'profile' %}" class="previous">&#171;</a> -->
    </div>
    <div class="stored">
      <h3 class="title">Stored Passwords</h3>
    </div>
    <a href="{% url 'add-new-password' %}" class="plusicon">
      <img
        src="{% static 'fr/plusmath.png' %}"
        alt="plusIcon"
        width="70"
        height="70"
      />
    </a>
  </div>
  
  <div class="container cardinality">
    {% for d in data %}
    <div class="card">
      <img
        src="{% static 'fr/key.png' %}"
        alt="password-icon"
        class="icon"
        width="100"
        height="70"
      />
      <div class="content card-text">
        <h2 style="font-weight: bolder">{{ forloop.counter }}</h2>
        <span class="title" style="font-size: 2em"
          >Title :- {{d.site_name}} </span
        ><br />
        <span style="float: right; font-weight: bolder"
          >-{{d.date_created|date:"d F, Y"}}</span
        >
        <br />
        <h5 style="color: #9c27b0; font-weight: bolder">
          User ID :- {{d.user_id}}
        </h5>
        <h5 style="font-weight: bolder; color: rgb(70, 70, 247)">
          Website :-
          <a class="website" href="https://{{d.link}}" target="_blank"
            >{{ d.link }}</a
          >
        </h5>
        <a href="{% url 'password-detail' d.id %}">
          <button class="fillin" style="border-radius: 2em">
            View More
          </button></a
        >
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <div class="mid-heading">
    <div class="back">
      <!-- <a href="{% url 'profile' %}" class="previous">&#171;</a> -->
    </div>
    <div class="stored">
      <h3 class="title">Stored Passwords</h3>
    </div>
    <a href="{% url 'add-new-password' %}" class="plusicon">
      <img
        src="{% static 'fr/plusmath.png' %}"
        alt="plusIcon"
        width="70"
        height="70"
      />
    </a>
  </div>
  <div class="d-flex justify-content-center">
    <h3>You haven't stored any passwords yet</h3>
  </div>

  {% endif %}

  <!-- end of card -->

  {% endblock content %}
</head>
