{% extends "fr/base.html" %}{% load crispy_forms_tags %}{% load static %}
<!--testing -->{% block content %}

<style>
  label {
    color: #9c27b0;
    font-weight: bold;
  }
  input::placeholder {
    color: black;
  }
  .form-group > label {
    color: #9c27b0;
    font-weight: bold;
  }
  .form-group {
    width: 100%;
  }
  #div_id_user_id {
    word-wrap: break-word;
  }
  .textinput {
    border-bottom: 0px solid black;
  }
  .form-control:invalid {
    background-image: linear-gradient(
        to top,
        #f44336 3px,
        rgba(244, 67, 54, 0) 2px
      ),
      linear-gradient(to top, #3a1818 1px, rgba(210, 210, 210, 0) 1px);
  }
  .form-control:valid {
    background-image: linear-gradient(
        to top,
        #9c27b0 3px,
        rgba(156, 39, 176, 0) 2px
      ),
      linear-gradient(to top, #3a1818 1px, rgba(210, 210, 210, 0) 1px);
  }
</style>
<div class="d-flex justify-content-center">
  <h5 class="title">Edit Password</h5>
</div>

<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <form method="post">
      {% csrf_token %} {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
