{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        {% if messages %}
        {% for m in messages%}
        <div class="alert alert-{{ m.tags }}">
            {{m}}
        </div>
        {%endfor%}
        {%endif%}
    </div>
    <div class="content-section">

        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>profile info</h1>
            {{ u_form|crispy }}
            {{ p_form|crispy }}


            <div class="form-group text-center justify-content-center">
                <a href="{% url 'profile' %}">Back</a>
                <input type="submit" value="update" class="btn login_btn" style="align-items: center;">
            </div>
        </form>

    </div>

    <p>edit profile page</p>
    <!-- <div>
        {% if messages %}
        {% for m in messages%}
        <div class="alert alert-{{ m.tags }}">
            {{m}}
        </div>
        {%endfor%}
        {%endif%}
    </div> -->
</body>

</html>