{% extends "fr/base.html" %}{% load static %}
<!--testing -->{% block content %}

<div class="container cardinality">
  <div class="card">
    <img
      src="{% static 'fr/password.png' %}"
      alt="password-icon"
      class="icon"
    />
    <div class="content card-text">
      <h2 style="font-weight: bolder">01</h2>
      <h3 class="title">Password Manager</h3>
      <a href="{% url 'passwords-list' %}">
        <button class="fillin" style="border-radius: 2em">
          Click to Start
        </button></a
      >
    </div>
  </div>
  <div class="card">
    <img
      src="{% static 'fr/vault.png' %}"
      alt="password-icon"
      class="icon"
      width="100"
      height="70"
    />
    <div class="content">
      <h2 style="font-weight: bolder">02</h2>
      <h3 class="title">Storage Vault</h3>
      <a href="{% url 'vault' %}"
        ><button class="fillin" style="border-radius: 2em">
          Click to Start
        </button></a
      >
    </div>
  </div>
</div>

{% endblock %}
